<h1>RESULTS PAGE</h1>

<ul>
    
    <% for(var j = 0; j < data.Search.length; j++){ %>
        <li>
            <strong>
                <%= data.Search[j].Title %>
            </strong> 
            - 
            <em>
                <%= data.Search[j].Year %>
            </em>
        </li>
    <% } %>

</ul>


<form>
  <button formaction="/">search another movie</button>
</form>


